<template>
  <div class=" p-6 rounded-lg flex flex-wrap content-center justify-center items-center border-2 border-color gap-5">
    <Badgecomponent  logo="/assets/badge/1er.png" titre="Classement d'équipe"/>
    <Badgecomponent  logo="/assets/badge/Gold.png" titre="Recrutement 2024"/>
  </div>
</template>

<script lang="ts" src="./boxBagdecomponent.ts"></script>

<style scoped lang="scss" src="./boxBagdecomponent.scss"></style>
