.underline-fade {
  position: relative;
  display: inline-block;
}

.underline-fade::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-fade:hover::after,
.underline-fade.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-fade:hover,
.underline-fade.active {
  color: #D0FFE9; /* Change to your desired hover color */
}