<template>
  <nav class="flex space-x-4">
    <RouterLink
        to="/"
        class="underline-fade text-greenDark hover:text-greenLight"
        :class="{ active: isActive('/') }"
    >
      Classement
    </RouterLink>
    <span class="text-greenDark">|</span>
    <RouterLink
        to="/cooptation"
        class="underline-fade text-greenDark hover:text-greenLight"
        :class="{ active: isActive('/cooptation') }"
    >
      Cooptation
    </RouterLink>
    <span class="text-greenDark">|</span>
    <RouterLink
        to="/candidature"
        class="underline-fade text-greenDark hover:text-greenLight"
        :class="{ active: isActive('/candidature') }"
    >
      Candidature
    </RouterLink>
  </nav>
</template>

<script lang="ts" src="./menucomponent.ts"></script>

<style scoped lang="scss" src="./menucomponent.scss"></style>
