<template>
  <div class="flex flex-col 2xl:flex-row w-full gap-5">
    <UploadCVcomponent />
    <CooptationListcomponent  :candidatures="candidatures" :buttonDisplay="buttonDisplay" @increment-step="incrementStep" @reject-candidature="rejectCandidature"/>
  </div>
</template>

<script lang="ts" src="./cooptationcomponent.ts"></script>

<style scoped lang="scss" src="./cooptationcomponent.scss"></style>
