<template>
  <div class="text-center w-full">
    <div class="relative mb-8">
      <div :class="['w-8 h-8 rounded-full bg-greenDark text-white flex items-center justify-center mx-auto bg-greenDark']">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="absolute w-full top-8 flex items-center content-center justify-center h-full">
        <div :class="['h-2 mx-auto w-full', isGoalMet ? 'bg-greenLight' : 'bg-greenDark']"></div>
      </div>
    </div>
    <div :class="[isGoalMet ? 'text-greenLight' : 'text-greenDark']">+{{point}}</div>
    <div :class="['font-semibold', isGoalMet ? 'text-greenLight' : 'text-greenDark']">{{goal}}</div>
  </div>
</template>

<script lang="ts" src="./steepercomponent.ts"></script>

<style scoped lang="scss" src="./steepercomponent.scss"></style>
