<template>
  <div class="bg-component p-6 rounded-lg flex items-center border-2 border-color">
    <Steepercomponent :chiffre="chiffre" :goal="1"  point="1"/>
    <Steepercomponent :chiffre="chiffre" :goal="2"  point="3"/>
    <Steepercomponent :chiffre="chiffre" :goal="3"  point="6"/>
    <Steepercomponent :chiffre="chiffre" :goal="4"  point="9"/>
    <Steepercomponent :chiffre="chiffre" :goal="5"  point="10"/>
  </div>
</template>

<script lang="ts" src="./goalsteepercomponent.ts"></script>

<style scoped lang="scss" src="./goalsteepercomponent.scss"></style>
