<template>
  <div class="bg-component flex space-x-5">
    <BoxDisplaycomponent score="67"  title="Points cumulés" />
    <BoxDisplaycomponent score="2"  title="Classement de l'équipe" />
    <BoxDisplaycomponent  score="4"  title="Talents recrutés"/>
  </div>
</template>

<script lang="ts" src="./infoPersocomponent.ts"></script>

<style scoped lang="scss" src="./infoPersocomponent.scss"></style>
