<template>
  <div class="flex flex-col 2xl:flex-row w-full gap-5">
    <CooptationListcomponent :candidatures="stepsZero" :buttonDisplay="buttonDisplay" @increment-step="incrementStep" @reject-candidature="rejectCandidature" />
    <CandidaturePowercomponent :candidatures="otherSteps" :buttonDisplay="buttonDisplay" @increment-step="incrementStep" @reject-candidature="rejectCandidature" />
  </div>
</template>

<script lang="ts" src="./candidaturecomponent.ts"></script>

<style scoped lang="scss" src="./candidaturecomponent.scss"></style>
