<template>
  <span class="text-3xl text-greenLight font-extrabold">Arthur Gougeon</span>
</template>

<script lang="ts" src="./namecomponent.ts"></script>

<style scoped lang="scss" src="./namecomponent.scss"></style>
