<template>
  <div class="bg-6tm min-h-screen">
    <div class="w-full min-h-screen p-5 space-y-5">
  <header>
    <Headercomponent />
  </header>
  <router-view />
    </div>
  </div>
</template>

<script lang="ts" src="./defaultlayout.ts"></script>

<style scoped lang="scss" src="./defaultlayout.scss"></style>
