<template>
    <Cooptationcomponent :candidatures="candidatures" :buttonDisplay="buttonDisplay" />
</template>

<script lang="ts" src="./cooptation.ts"></script>

<style scoped lang="scss" src="./cooptation.scss"></style>
