<template>
  <div class="text-center min-w-48 max-w-64">
    <div class="inline-block">
      <img :src=logo alt="Badge Icon" class="w-16 h-16 mx-auto">
    </div>
    <p class="text-lg font-semibold text-greenLight">{{titre}}</p>
  </div>
</template>

<script lang="ts" src="./badgecomponent.ts"></script>

<style scoped lang="scss" src="./badgecomponent.scss"></style>
