<template>
  <div class="bg-component p-6 rounded-lg flex flex-row items-center border-2 border-color w-full h-max-calc">
    <div class="w-full flex flex-col space-y-4">
      <div class="flex flex-col w-full">
        <label for="nom" class="text-greenLight font-semibold mb-2">Nom</label>
        <input
            id="nom"
            v-model="form.nom"
            type="text"
            class="border-2 border-color bg-component text-greenLight rounded p-2 w-full focus:ring-greenLight focus:border-greenLight"
            placeholder="Nom"
        />
      </div>
      <div class="flex flex-col w-full">
        <label for="prenom" class="text-greenLight font-semibold mb-2">Prénom</label>
        <input
            id="prenom"
            v-model="form.prenom"
            type="text"
            class="border-2 border-color bg-component text-greenLight rounded p-2 w-full focus:ring-greenLight focus:border-greenLight"
            placeholder="Prénom"
        />
      </div>
      <div class="flex flex-col w-full">
        <label for="specialite" class="text-greenLight font-semibold mb-2">Spécialité</label>
        <input
            id="specialite"
            v-model="form.specialite"
            type="text"
            class="border-2 border-color bg-component text-greenLight rounded p-2 w-full focus:ring-greenLight focus:border-greenLight"
            placeholder="Spécialité"
        />
      </div>
      <div class="flex flex-col w-full items-center justify-center">
        <label for="dropzone-file"
               class="inputFile flex flex-col items-center justify-center  h-64 border-2  border-color p-2 w-full border-dashed rounded-lg cursor-pointer">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-greenLight dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-greenLight" v-if="form.fileName === ''"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="mb-2 text-sm text-greenLight" v-else><span class="font-semibold">{{ form.fileName }}</span></p>
            <p class="text-xs text-greenLight">CV (MAX. 5 Mo)</p>
          </div>
          <input id="dropzone-file" ref="fileInput" type="file" class="hidden" @change="handleFileUpload" />
        </label>
      </div>
      <div class="flex justify-center w-full">
        <button @click="submitForm" class="bg-backgroundGreen text-greenLight font-semibold py-2 px-4 rounded hover:bg-greenLight hover:text-backgroundGreen focus:outline-none focus:ring-2 focus:ring-green-600 w-full">
          Valider
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./uploadCVcomponent.ts"></script>

<style scoped lang="scss" src="./uploadCVcomponent.scss"></style>
