<template>
  <Candidaturecomponent :candidatures="candidatures" :buttonDisplay="buttonDisplay"/>
</template>

<script lang="ts" src="./candidature.ts"></script>

<style scoped lang="scss" src="./candidature.scss"></style>
