<template>
  <div class="bg-component p-6 rounded-lg flex flex-col gap-5  border-2 border-color w-full h-max-calc overflow-auto">
    <TrackerCooptationcomponent v-for="candidature in candidatures" :key="candidature.id"
        :admin="isAdmin"
        :step="candidature.step"
        :cooptation="candidature"
        :buttonDisplay="buttonDisplay"
        @increment-step="incrementStep"
        @reject-candidature="rejectCandidature"
    />
  </div>
</template>

<script lang="ts" src="./candidaturePowercomponent.ts"></script>

<style scoped lang="scss" src="./candidaturePowercomponent.scss"></style>
