<template>
  <div class="w-full flex flex-col space-y-4 text-greenLight rounded-lg border-2 border-color p-6 gap-5 h-fit">
    <div class="flex flex-row gap-5">
      <div>
        <span class="font-bold">Nom</span>: {{ cooptation.lastName }}
      </div>
      <div>
        <span class="font-bold">Prénom</span>: {{cooptation.firstName}}
      </div>
      <div>
        <span class="font-bold">Spécialité</span>: {{ cooptation.specialty }}
      </div>
    </div>
    <a :href="cooptation.cvUrl" target="_blank" class="text-blue-500 underline">Voir le CV</a>
    <ol class="flex items-center w-full font-medium text-center text-gray-500 lg:space-x-4 rtl:space-x-reverse">
      <li v-for="(step, index) in steps" :key="index" :class='["flex items-center", getStepClass(index)]'>
        <span class="flex items-center justify-center w-5 h-5 me-1 lg:me-2 text-xs border border-greenLight rounded-full shrink-0 dark:border-blue-500">
          {{ index + 1 }}
        </span>
        {{ step }}
        <svg v-if="index < steps.length - 1" class="w-3 h-3 mx-0.5 lg:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
        </svg>
      </li>
    </ol>
    <div v-if="admin && (cooptation.step < 5 ) && buttonDisplay " class="flex flex-row gap-5 w-full">
      <button  @click="incrementStep" type="button" class="bg-backgroundGreen text-greenLight font-semibold py-2 px-5 rounded hover:bg-greenLight hover:text-backgroundGreen focus:outline-none focus:ring-2 focus:ring-green-600">
        {{ cooptation.step === 0 ? 'Prendre en charge' : 'Validé cette étape' }}
      </button>
      <button @click="rejectCandidature" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
        Rejeté
      </button>
    </div>
  </div>
</template>

<script lang="ts" src="./trackerCooptationcomponent.ts"></script>

<style scoped lang="scss" src="./trackerCooptationcomponent.scss"></style>
