<template>
  <div class="bg-component p-6 rounded-lg flex items-center border-2 border-color w-full">
  <div class=" w-full">
    <div class="relative mb-8">
      <div :class="[' text-white flex items-center mx-auto ']">
        <div :class="['font-bold text-xl text-greenLight']">{{ score }}</div>
      </div>
    </div>
    <div :class="['font-semibold text-lg text-greenDark']">{{title}}</div>
  </div>
  </div>
</template>

<script lang="ts" src="./boxDisplaycomponent.ts"></script>

<style scoped lang="scss" src="./boxDisplaycomponent.scss"></style>
