<template>

      <InfoPersocomponent />
      <Goalsteepercomponent />
      <BoxBagdecomponent />

</template>

<script lang="ts" src="./home.ts"></script>

<style scoped lang="scss" src="./home.scss"></style>
