@tailwind base;
@tailwind components;
@tailwind utilities;

input, .inputFile {
    background: rgb(22 22 22 / 43%) !important;
}

.inputFile:hover {
    background: #2F4547 !important;
}

/* Style de la scrollbar pour les navigateurs Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Arrière-plan transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #D0FFE9; /* Couleur de la poignée */
    border-radius: 10px; /* Arrondi des coins de la poignée */
    border: 2px solid transparent; /* Bordure transparente */
    margin-right: 5px; /* Décoller la scrollbar du côté droit */
}

/* Optionnel: style de la scrollbar pour Internet Explorer et Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
